In [ ]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.3.1'
spark_version = 'spark-3.4.0'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease
Hit:3 http://archive.ubuntu.com/ubuntu focal InRelease
Get:4 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Get:5 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease [3,622 B]
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease
Get:7 http://archive.ubuntu.com/ubuntu focal-backports InRelease [108 kB]
Hit:8 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Hit:9 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Get:10 http://security.ubuntu.com/ubuntu focal-security/universe amd64 Packages [1,058 kB]
Hit:11 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Get:12 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [2,776 kB]
Hit:13 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Get:14 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [3,255 kB]
Get:15 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1,354 kB]
Fetched 8,783 kB in 5s (1,884 kB/s)
Reading package lists... Done

In [ ]:
from pyspark import SparkContext, SparkConf

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
#Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Final Project").getOrCreate()

In [ ]:
from pyspark import SparkFiles

In [ ]:

# Read in data from S3 Buckets
url20 = "https://cps-final-project-bucket.s3.us-east-2.amazonaws.com/metrics_collenrollpersist_schoollevel_20222_CLEAN_3+(2).csv"
spark.sparkContext.addFile(url20)
persist_3_df = spark.read.csv(SparkFiles.get("metrics_collenrollpersist_schoollevel_20222_CLEAN_3+(2).csv"), sep=",", header=True)

persist_3_df.show()

+---------+----------------------+------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+
|School_ID|Annualized School Name|status|Class of 2019 Graduates|Class of 2019 Enrollments|Class of 2019 Enrollment Pct|Class of 2019 # of Enrollments Persisting|Class of 2019 Persistence Pct|Class of 2018 Graduates|Class of 2018 Enrollments|Class of 2018 Enrollment Pct|Class of 2018 # of Enrollments Persisting|Class of 2018 Persistence Pct|Class of 2017 Graduates|Class of 2017 Enrollments|Class of 2017 Enrollment Pct|Class of 2017 # of Enrollments Persisting|Class of 2017 Persistence Pct|Class of 2016 Graduates|Class of 2016 Enrollments|Class of 2016 Enrollment Pct|Class of 2016 # of Enrollments Persisting|Class of 2016 Persistence Pct|Class of 2015 Graduates|Class of 2015 Enrollments|Class of 2015 Enrollment Pct|Class of 2015 # of Enrollments Persisting|Class of 2015 Persistence Pct|
+---------+----------------------+------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+
|   400013|  ASPIRA - EARLY CO...|  null|                     75|                       30|                          40|                                       18|                           60|                     83|                       49|                          59|                                       25|                           51|                     93|                       50|                        53.8|                                       32|                           64|                    103|                       57|                        55.3|                                       37|                         64.9|                     78|                       23|                        29.5|                                       13|                         56.5|
|   400022|            CHIARTS HS|  null|                    133|                      114|                        85.7|                                       97|                         85.1|                    146|                      117|                        80.1|                                      100|                         85.5|                    126|                       96|                        76.2|                                       80|                         83.3|                    112|                       90|                        80.4|                                       79|                         87.8|                    113|                       90|                        79.6|                                       80|                         88.9|
|   400032|     CICS - ELLISON HS|  null|                    101|                       62|                        61.4|                                       31|                           50|                     72|                       47|                        65.3|                                       28|                         59.6|                     67|                       46|                        68.7|                                       31|                         67.4|                     89|                       45|                        50.6|                                       28|                         62.2|                     98|                       63|                        64.3|                                       42|                         66.7|
|   400033|       CICS - LONGWOOD|  null|                     87|                       44|                        50.6|                                       30|                         68.2|                    107|                       52|                        48.6|                                       34|                         65.4|                    100|                       60|                          60|                                       35|                         58.3|                     87|                       39|                        44.8|                                       28|                         71.8|                     77|                       50|                        64.9|                                       28|                           56|
|   400034|   CICS - NORTHTOWN HS|  null|                    207|                      151|                        72.9|                                      114|                         75.5|                    178|                      145|                        81.5|                                      114|                         78.6|                    190|                      152|                          80|                                      116|                         76.3|                    176|                      132|                          75|                                      101|                         76.5|                    167|                      128|                        76.6|                                      108|                         84.4|
|   400035|  CHICAGO MATH & SC...|  null|                     81|                       67|                        82.7|                                       56|                         83.6|                     84|                       59|                        70.2|                                       52|                         88.1|                     86|                       73|                        84.9|                                       61|                         83.6|                     71|                       51|                        71.8|                                       39|                         76.5|                     75|                       54|                          72|                                       45|                         83.3|
|   400051|      NOBLE - NOBLE HS|  null|                    145|                      128|                        88.3|                                       99|                         77.3|                    133|                      115|                        86.5|                                       78|                         67.8|                    142|                      131|                        92.3|                                      104|                         79.4|                    138|                      121|                        87.7|                                       92|                           76|                    144|                      122|                        84.7|                                       74|                         60.7|
|   400052|         NOBLE - COMER|  null|                    156|                      129|                        82.7|                                       93|                         72.1|                    140|                      121|                        86.4|                                       93|                         76.9|                    135|                      119|                        88.1|                                       97|                         81.5|                    143|                      128|                        89.5|                                       95|                         74.2|                    139|                      117|                        84.2|                                       86|                         73.5|
|   400053|     NOBLE - GOLDER HS|  null|                    141|                      126|                        89.4|                                       94|                         74.6|                    133|                      121|                          91|                                       92|                         76.7|                    139|                      121|                        87.1|                                       90|                         74.4|                    132|                      107|                        81.1|                                       78|                         72.9|                    128|                      103|                        80.5|                                       73|                         70.9|
|   400054|   NOBLE - PRITZKER HS|  null|                    196|                      171|                        87.2|                                      133|                         77.8|                    205|                      178|                        86.8|                                      136|                         76.4|                    206|                      186|                        90.3|                                      147|                           79|                    193|                      170|                        88.1|                                      123|                         72.4|                    189|                      162|                        85.7|                                      115|                           71|
|   400055|     NOBLE - RAUNER HS|  null|                    158|                      132|                        83.5|                                      102|                         77.3|                    124|                      100|                        80.6|                                       77|                           77|                    132|                      115|                        87.1|                                       92|                           80|                    117|                      100|                        85.5|                                       69|                           69|                    136|                      105|                        77.2|                                       82|                         78.1|
|   400056|  NOBLE - ROWE CLAR...|  null|                     80|                       46|                        57.5|                                       35|                         76.1|                    114|                       85|                        74.6|                                       57|                         67.1|                    117|                       86|                        73.5|                                       61|                         70.9|                    119|                       92|                        77.3|                                       58|                           63|                    130|                      100|                        76.9|                                       62|                           62|
|   400057|        NOBLE - UIC HS|  null|                    185|                      170|                        91.9|                                      124|                         73.4|                    210|                      193|                        91.9|                                      166|                           86|                    181|                      163|                        90.1|                                      138|                         84.7|                    198|                      176|                        88.9|                                      142|                         80.7|                    184|                      162|                          88|                                      136|                           84|
|   400058|  NLCP - CHRISTIANA HS|  null|                     86|                       46|                        53.5|                                       29|                           63|                     74|                       45|                        60.8|                                       30|                         66.7|                     78|                       59|                        75.6|                                       36|                           61|                     84|                       57|                        67.9|                                       33|                         57.9|                     76|                       50|                        65.8|                                       30|                           60|
|   400059|     NLCP - COLLINS HS|  null|                     86|                       56|                        65.1|                                       36|                         64.3|                     67|                       43|                        64.2|                                       32|                         74.4|                     65|                       48|                        73.8|                                       32|                         66.7|                     75|                       57|                          76|                                       31|                         54.4|                     76|                       48|                        63.2|                                       28|                         58.3|
|   400061|  PERSPECTIVES - LE...|  null|                     86|                       47|                        54.7|                                       21|                         44.7|                     86|                       52|                        60.5|                                       23|                         44.2|                     83|                       52|                        62.7|                                       32|                         61.5|                     87|                       55|                        63.2|                                       33|                           60|                    109|                       58|                        53.2|                                       29|                           50|
|   400062|  PERSPECTIVES - TE...|  null|                     78|                       49|                        62.8|                                       25|                           51|                     73|                       39|                        53.4|                                       21|                         53.8|                     92|                       57|                          62|                                       29|                         50.9|                    107|                       73|                        68.2|                                       41|                         56.2|                    103|                       78|                        75.7|                                       53|                         67.9|
|   400064|  PERSPECTIVES - JO...|  null|                     58|                       30|                        51.7|                                       24|                           80|                     57|                       46|                        80.7|                                       31|                         67.4|                     51|                       42|                        82.4|                                       31|                         73.8|                     57|                       33|                        57.9|                                       25|                         75.8|                     49|                       40|                        81.6|                                       34|                           85|
|   400066|  PERSPECTIVES - MA...|  null|                    108|                       66|                        61.1|                                       34|                         51.5|                     62|                       37|                        59.7|                                       24|                         64.9|                     88|                       67|                        76.1|                                       40|                         59.7|                     68|                       44|                        64.7|                                       28|                         63.6|                     77|                       48|                        62.3|                                       31|                         64.6|
|   400077|  U OF C - WOODLAWN HS|  null|                     88|                       74|                        84.1|                                       53|                         71.6|                     78|                       58|                        74.4|                                       38|                         65.5|                     70|                       54|                        77.1|                                       38|                         70.4|                     83|                       63|                        75.9|                                       40|                         63.5|                     51|                       41|                        80.4|                                       33|                         80.5|
+---------+----------------------+------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+
only showing top 20 rows

In [ ]:
persist_3_df = persist_3_df.toPandas()
persist_3_df.head()

,School_ID,Annualized School Name,status,Class of 2019 Graduates,Class of 2019 Enrollments,Class of 2019 Enrollment Pct,Class of 2019 # of Enrollments Persisting,Class of 2019 Persistence Pct,Class of 2018 Graduates,Class of 2018 Enrollments,...,Class of 2016 Graduates,Class of 2016 Enrollments,Class of 2016 Enrollment Pct,Class of 2016 # of Enrollments Persisting,Class of 2016 Persistence Pct,Class of 2015 Graduates,Class of 2015 Enrollments,Class of 2015 Enrollment Pct,Class of 2015 # of Enrollments Persisting,Class of 2015 Persistence Pct
0,400013,ASPIRA - EARLY COLLEGE HS,None,75,30,40,18,60,83,49,...,103,57,55.3,37,64.9,78,23,29.5,13,56.5
1,400022,CHIARTS HS,None,133,114,85.7,97,85.1,146,117,...,112,90,80.4,79,87.8,113,90,79.6,80,88.9
2,400032,CICS - ELLISON HS,None,101,62,61.4,31,50,72,47,...,89,45,50.6,28,62.2,98,63,64.3,42,66.7
3,400033,CICS - LONGWOOD,None,87,44,50.6,30,68.2,107,52,...,87,39,44.8,28,71.8,77,50,64.9,28,56
4,400034,CICS - NORTHTOWN HS,None,207,151,72.9,114,75.5,178,145,...,176,132,75,101,76.5,167,128,76.6,108,84.4

In [ ]:
url22 = "https://cps-final-project-bucket.s3.us-east-2.amazonaws.com/metrics_cohortgraduationdropoutadjusted_schoollevel_2011to2019+(1).csv"
spark.sparkContext.addFile(url22)
grad_and_dropout_df = spark.read.csv(SparkFiles.get("metrics_cohortgraduationdropoutadjusted_schoollevel_2011to2019+(1).csv"), sep=",", header=True)

grad_and_dropout_df.show()

+---------+--------------------+-----------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+
|School ID|         School Name|Status as of 2019|2011 Grad. %|2012 Grad. %|2013 Grad. %|2014 Grad. %|2015 Grad. %|2016 Grad. %|2017 Grad. %|2018 Grad. %|2019 Grad. %|
+---------+--------------------+-----------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+
|   400121|  ACERO - DE LA CRUZ|             null|        78.1|        79.5|        null|        null|        null|        null|        null|        null|        null|
|   400085|   ACERO - GARCIA HS|             null|        75.5|        85.1|        89.5|        84.5|        89.2|        86.3|        87.3|        null|        null|
|   400149|     ACERO - SOTO HS|             null|        83.9|        71.4|        null|        null|        null|        null|        null|        null|        null|
|   610513|        AIR FORCE HS|             null|        70.2|        84.0|        86.1|        86.7|        81.9|        83.7|        null|        null|        null|
|   610524|           ALCOTT HS|             null|        86.3|        77.7|        87.1|        81.3|        84.9|        92.1|        null|        null|        null|
|   609695|         AMUNDSEN HS|             null|        63.8|        64.7|        77.1|        74.7|        75.8|        82.8|        76.0|        83.1|        83.1|
|   400013|ASPIRA - EARLY CO...|             null|        68.3|        66.1|        70.7|        67.1|        67.9|        79.2|        73.8|        69.8|        null|
|   610518|       AUSTIN CCA HS|             null|        67.8|        55.4|        70.9|        70.9|        77.3|        77.6|        64.7|        null|        null|
|   610563|BACK OF THE YARDS HS|             null|        91.8|        97.3|        null|        null|        null|        null|        null|        null|        null|
|   609698|            BOGAN HS|             null|        52.0|        53.6|        60.3|        66.8|        74.3|        75.7|        71.4|        81.4|        78.2|
|   610323|            BOWEN HS|             null|        66.1|        55.2|        67.2|        34.6|        63.3|        63.7|        61.9|        58.6|        57.1|
|   610381|      BRONZEVILLE HS|             null|        84.6|        71.8|        87.6|        79.1|        85.4|        80.6|        75.9|        81.6|        86.1|
|   609726|           BROOKS HS|             null|        88.1|        88.2|        85.3|        87.0|        92.2|        93.4|        90.4|        96.8|        94.1|
|   609760|  CARVER MILITARY HS|             null|        74.6|        79.1|        79.2|        90.2|        89.3|        91.0|        89.9|        90.6|        96.2|
|   400115|    CATALYST - MARIA|             null|        82.4|        77.7|        77.4|        null|        null|        null|        null|        null|        null|
|   400022|          CHIARTS HS|             null|        88.8|        80.4|        81.1|        84.6|        84.4|        86.1|        null|        null|        null|
|   610340|  CHICAGO ACADEMY HS|             null|        70.1|        69.9|        72.3|        75.4|        81.7|        85.4|        87.1|        85.6|        85.1|
|   609753|CHICAGO AGRICULTU...|             null|        70.3|        70.7|        72.5|        75.7|        74.4|        74.7|        83.9|        90.7|        85.1|
|   400035|CHICAGO MATH & SC...|             null|        69.8|        78.1|        69.8|        68.8|        86.4|        85.2|        85.9|        85.7|        86.2|
|   609754| CHICAGO MILITARY HS|             null|        81.8|        67.1|        78.7|        80.3|        77.1|        85.4|        89.6|        85.7|        89.8|
+---------+--------------------+-----------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+
only showing top 20 rows

In [ ]:
grad_and_dropout_df = grad_and_dropout_df.toPandas()
grad_and_dropout_df.head()

,School ID,School Name,Status as of 2019,2011 Grad. %,2012 Grad. %,2013 Grad. %,2014 Grad. %,2015 Grad. %,2016 Grad. %,2017 Grad. %,2018 Grad. %,2019 Grad. %
0,400121,ACERO - DE LA CRUZ,None,78.1,79.5,None,None,None,None,None,None,None
1,400085,ACERO - GARCIA HS,None,75.5,85.1,89.5,84.5,89.2,86.3,87.3,None,None
2,400149,ACERO - SOTO HS,None,83.9,71.4,None,None,None,None,None,None,None
3,610513,AIR FORCE HS,None,70.2,84.0,86.1,86.7,81.9,83.7,None,None,None
4,610524,ALCOTT HS,None,86.3,77.7,87.1,81.3,84.9,92.1,None,None,None

In [ ]:
# Read in data from S3 Buckets
url = "https://cps-final-project-bucket.s3.us-east-2.amazonaws.com/assessment_nwea_schoollevel_2019_attainment.csv"
spark.sparkContext.addFile(url)
attainment_df = spark.read.csv(SparkFiles.get("assessment_nwea_schoollevel_2019_attainment.csv"), sep=",", header=True)

attainment_df.show()

+---------+--------------------+-------+-------+-------+-----------------------+------------------------------+-----------------------------------------------------+--------------------------------------------------+-----------------------+------------------------------+----------------------------------------------------+--------------------------------------------------+-----------------------+------------------------------+----------------------------------------------------+--------------------------------------------------+-----------------------+------------------------------+----------------------------------------------------+--------------------------------------------------+
|School ID|         School Name|Network|Subject|  Grade|SY 2015-2016 # Students|SY 2015-2016 Average RIT Score|SY 2015-2016  % At/Above National Average Performance|SY 2015-2016 National School Attainment Percentile|SY 2016-2017 # Students|SY 2016-2017 Average RIT Score|SY 2016-2017 % At/Above National Average Performance|SY 2016-2017 National School Attainment Percentile|SY 2017-2018 # Students|SY 2017-2018 Average RIT Score|SY 2017-2018 % At/Above National Average Performance|SY 2017-2018 National School Attainment Percentile|SY 2018-2019 # Students|SY 2018-2019 Average RIT Score|SY 2018-2019 % At/Above National Average Performance|SY 2018-2019 National School Attainment Percentile|
+---------+--------------------+-------+-------+-------+-----------------------+------------------------------+-----------------------------------------------------+--------------------------------------------------+-----------------------+------------------------------+----------------------------------------------------+--------------------------------------------------+-----------------------+------------------------------+----------------------------------------------------+--------------------------------------------------+-----------------------+------------------------------+----------------------------------------------------+--------------------------------------------------+
|   400009|  GLOBAL CITIZENSHIP|Charter|READING|Grade 8|                     41|                         221.9|                                                 65.9|                                                60|                     47|                         221.7|                                                59.6|                                                58|                     48|                         225.7|                                                77.1|                                                77|                     43|                         226.8|                                                74.4|                                                81|
|   400009|  GLOBAL CITIZENSHIP|Charter|   MATH|Grade 8|                     41|                         231.1|                                                 41.5|                                                51|                     48|                         233.9|                                                54.2|                                                62|                     48|                         235.5|                                                64.6|                                                68|                     43|                         233.7|                                                62.8|                                                61|
|   400011|             LOCKE A|Charter|READING|Grade 8|                   null|                          null|                                                 null|                                              null|                   null|                          null|                                                null|                                              null|                     44|                         224.8|                                                77.3|                                                74|                     39|                         233.2|                                                87.2|                                                96|
|   400011|             LOCKE A|Charter|   MATH|Grade 8|                   null|                          null|                                                 null|                                              null|                   null|                          null|                                                null|                                              null|                     44|                         232.3|                                                47.7|                                                56|                     39|                         242.7|                                                79.5|                                                89|
|   400012|             AMANDLA|Charter|READING|Grade 8|                     44|                         213.4|                                                 40.9|                                                19|                   null|                          null|                                                null|                                              null|                   null|                          null|                                                null|                                              null|                   null|                          null|                                                null|                                              null|
|   400012|             AMANDLA|Charter|   MATH|Grade 8|                     44|                         222.5|                                                 31.8|                                                19|                   null|                          null|                                                null|                                              null|                   null|                          null|                                                null|                                              null|                   null|                          null|                                                null|                                              null|
|   400017|     ASPIRA - HAUGAN|Charter|READING|Grade 8|                    182|                         220.6|                                                 60.4|                                                53|                    181|                         223.6|                                                70.7|                                                68|                    137|                         221.9|                                                60.6|                                                60|                    144|                         221.8|                                                58.3|                                                59|
|   400017|     ASPIRA - HAUGAN|Charter|   MATH|Grade 8|                    182|                         232.8|                                                 59.9|                                                58|                    179|                           234|                                                55.3|                                                63|                    137|                         227.4|                                                39.4|                                                36|                    144|                         229.2|                                                  50|                                                43|
|   400019|BRONZEVILLE LIGHT...|Charter|READING|Grade 8|                     43|                         219.2|                                                 53.5|                                                45|                   null|                          null|                                                null|                                              null|                   null|                          null|                                                null|                                              null|                   null|                          null|                                                null|                                              null|
|   400019|BRONZEVILLE LIGHT...|Charter|   MATH|Grade 8|                     43|                           233|                                                 53.5|                                                59|                   null|                          null|                                                null|                                              null|                   null|                          null|                                                null|                                              null|                   null|                          null|                                                null|                                              null|
|   400020|  CATALYST - HOWLAND|Charter|READING|Grade 8|                   null|                          null|                                                 null|                                              null|                   null|                          null|                                                null|                                              null|                   null|                          null|                                                null|                                              null|                   null|                          null|                                                null|                                              null|
|   400020|  CATALYST - HOWLAND|Charter|   MATH|Grade 8|                   null|                          null|                                                 null|                                              null|                   null|                          null|                                                null|                                              null|                   null|                          null|                                                null|                                              null|                   null|                          null|                                                null|                                              null|
|   400021|CATALYST - CIRCLE...|Charter|READING|Grade 8|                     55|                         222.8|                                                 67.3|                                                64|                     52|                         221.4|                                                61.5|                                                57|                     48|                         222.9|                                                68.8|                                                65|                     50|                         220.6|                                                  62|                                                53|
|   400021|CATALYST - CIRCLE...|Charter|   MATH|Grade 8|                     55|                         231.8|                                                 52.7|                                                54|                     52|                         229.2|                                                46.2|                                                43|                     48|                           231|                                                56.3|                                                50|                     50|                         226.7|                                                  36|                                                33|
|   400023|CICS - AVALON/SOU...|Charter|READING|Grade 8|                     42|                         230.4|                                                 90.5|                                                92|                     23|                         222.5|                                                56.5|                                                63|                     28|                           231|                                                82.1|                                                93|                     58|                         228.1|                                                84.5|                                                86|
|   400023|CICS - AVALON/SOU...|Charter|   MATH|Grade 8|                     43|                         241.2|                                                 76.7|                                                86|                     23|                         236.7|                                                65.2|                                                73|                     29|                         244.5|                                                79.3|                                                92|                     58|                         238.9|                                                75.9|                                                80|
|   400024|        CICS - BASIL|Charter|READING|Grade 8|                     40|                         224.5|                                                 77.5|                                                72|                     56|                         224.4|                                                  75|                                                72|                     53|                           227|                                                81.1|                                                82|                     53|                         223.8|                                                67.9|                                                69|
|   400024|        CICS - BASIL|Charter|   MATH|Grade 8|                     39|                         245.3|                                                 82.1|                                                93|                     55|                         232.5|                                                56.4|                                                57|                     52|                         237.9|                                                67.3|                                                77|                     53|                         233.1|                                                60.4|                                                59|
|   400025|     CICS - BUCKTOWN|Charter|READING|Grade 8|                     58|                         224.6|                                                 63.8|                                                73|                     68|                         224.1|                                                67.6|                                                70|                     77|                         225.9|                                                75.3|                                                78|                     80|                         226.6|                                                77.5|                                                81|
|   400025|     CICS - BUCKTOWN|Charter|   MATH|Grade 8|                     58|                         233.9|                                                 60.3|                                                62|                     68|                         232.4|                                                60.3|                                                56|                     77|                         233.7|                                                53.2|                                                61|                     80|                         237.9|                                                76.3|                                                77|
+---------+--------------------+-------+-------+-------+-----------------------+------------------------------+-----------------------------------------------------+--------------------------------------------------+-----------------------+------------------------------+----------------------------------------------------+--------------------------------------------------+-----------------------+------------------------------+----------------------------------------------------+--------------------------------------------------+-----------------------+------------------------------+----------------------------------------------------+--------------------------------------------------+
only showing top 20 rows

In [ ]:
attainment_df = attainment_df.toPandas()

In [ ]:
attainment_df.head()

,School ID,School Name,Network,Subject,Grade,SY 2015-2016 # Students,SY 2015-2016 Average RIT Score,SY 2015-2016 % At/Above National Average Performance,SY 2015-2016 National School Attainment Percentile,SY 2016-2017 # Students,...,SY 2016-2017 % At/Above National Average Performance,SY 2016-2017 National School Attainment Percentile,SY 2017-2018 # Students,SY 2017-2018 Average RIT Score,SY 2017-2018 % At/Above National Average Performance,SY 2017-2018 National School Attainment Percentile,SY 2018-2019 # Students,SY 2018-2019 Average RIT Score,SY 2018-2019 % At/Above National Average Performance,SY 2018-2019 National School Attainment Percentile
0,400009,GLOBAL CITIZENSHIP,Charter,READING,Grade 8,41,221.9,65.9,60,47,...,59.6,58,48,225.7,77.1,77,43,226.8,74.4,81
1,400009,GLOBAL CITIZENSHIP,Charter,MATH,Grade 8,41,231.1,41.5,51,48,...,54.2,62,48,235.5,64.6,68,43,233.7,62.8,61
2,400011,LOCKE A,Charter,READING,Grade 8,None,None,None,None,None,...,None,None,44,224.8,77.3,74,39,233.2,87.2,96
3,400011,LOCKE A,Charter,MATH,Grade 8,None,None,None,None,None,...,None,None,44,232.3,47.7,56,39,242.7,79.5,89
4,400012,AMANDLA,Charter,READING,Grade 8,44,213.4,40.9,19,None,...,None,None,None,None,None,None,None,None,None,None

In [ ]:
url10 = "https://cps-final-project-bucket.s3.us-east-2.amazonaws.com/metrics_attendance_clean3.csv"
spark.sparkContext.addFile(url10)
attendance2_df = spark.read.csv(SparkFiles.get("metrics_attendance_clean3.csv"), sep=",", header=True)
attendance2_df.show()

+---------+--------------------+---------+-----+-----+----+----+----+----+----+
|School ID|         School Name|  Network|Group|Grade|2015|2016|2017|2018|2019|
+---------+--------------------+---------+-----+-----+----+----+----+----+----+
|   609771|              ABBOTT|     null|Grade|    8|null|null|null|null|null|
|   400010|         ACE TECH HS|     null|Grade|    8|null|null|null|null|null|
|   400153|ACERO - BRIGHTON ...|  Charter|Grade|    8|95.3|93.6|95.3|95.8|95.3|
|   400101|    ACERO - CISNEROS|  Charter|Grade|    8|96.9|96.7|96.6|95.7|96.2|
|   400120|    ACERO - CLEMENTE|  Charter|Grade|    8|95.3|94.8|95.0|95.6|95.6|
|   400121|  ACERO - DE LA CRUZ|  Charter|Grade|    8|95.6|95.0|95.0|94.5|93.7|
|   400081|ACERO - DE LAS CASAS|  Charter|Grade|    8|95.0|96.8|96.6|95.7|95.7|
|   400082|     ACERO - FUENTES|  Charter|Grade|    8|96.7|95.4|96.8|95.2|96.4|
|   400112|        ACERO - IDAR|  Charter|Grade|    8|97.2|96.0|95.8|95.2|96.1|
|   400089|     ACERO - MARQUEZ|  Charter|Grade|    8|96.9|97.1|96.0|96.3|96.6|
|   400083|         ACERO - PAZ|  Charter|Grade|    8|96.9|95.6|96.0|95.5|96.2|
|   400114|    ACERO - SANTIAGO|  Charter|Grade|    8|97.7|97.5|97.8|97.9|97.1|
|   400149|     ACERO - SOTO HS|  Charter|Grade|    8|98.2|96.4|null|null|null|
|   400084|      ACERO - TAMAYO|  Charter|Grade|    8|97.2|95.9|96.6|97.8|96.6|
|   400080|      ACERO - TORRES|  Charter|Grade|    8|95.8|96.6|96.6|96.5|96.2|
|   400079|     ACERO - ZIZUMBO|  Charter|Grade|    8|96.3|96.4|96.5|96.2|95.7|
|   400008|         ACT CHTR HS|     null|Grade|    8|null|null|null|null|null|
|   609772|              ADDAMS|      ISP|Grade|    8|95.9|95.4|94.9|95.4|94.2|
|   400060|      AHS - PASSAGES|  Charter|Grade|    8|93.6|94.1|91.6|93.8|96.1|
|   610212|         ALBANY PARK|Network 1|Grade|    8|95.7|96.4|96.5|96.2|95.6|
+---------+--------------------+---------+-----+-----+----+----+----+----+----+
only showing top 20 rows

In [ ]:
attendance2_df = attendance2_df.toPandas()
attendance2_df.head()

,School ID,School Name,Network,Group,Grade,2015,2016,2017,2018,2019
0,609771,ABBOTT,None,Grade,8,None,None,None,None,None
1,400010,ACE TECH HS,None,Grade,8,None,None,None,None,None
2,400153,ACERO - BRIGHTON PARK,Charter,Grade,8,95.3,93.6,95.3,95.8,95.3
3,400101,ACERO - CISNEROS,Charter,Grade,8,96.9,96.7,96.6,95.7,96.2
4,400120,ACERO - CLEMENTE,Charter,Grade,8,95.3,94.8,95.0,95.6,95.6

In [ ]:
url6 = "https://cps-final-project-bucket.s3.us-east-2.amazonaws.com/metrics_fot_schoollevel_2022-1.csv"
spark.sparkContext.addFile(url6)
fot_df = spark.read.csv(SparkFiles.get("metrics_fot_schoollevel_2022-1.csv"), sep=",", header=True)

In [ ]:
fot_df.show()

+---------+--------------------+---------------------+--------------------------------+---------------------+--------------------------------+---------------------+--------------------------------+---------------------+--------------------------------+---------------------+--------------------------------+
|School ID|         School Name|SY 2019 On-Track Rate|SY 2019 Total Number of Freshmen|SY 2018 On-Track Rate|SY 2018 Total Number of Freshmen|SY 2017 On-Track Rate|SY 2017 Total Number of Freshmen|SY 2016 On-Track Rate|SY 2016 Total Number of Freshmen|SY 2015 On-Track Rate|SY 2015 Total Number of Freshmen|
+---------+--------------------+---------------------+--------------------------------+---------------------+--------------------------------+---------------------+--------------------------------+---------------------+--------------------------------+---------------------+--------------------------------+
|   610513|        AIR FORCE HS|                 88.9|                              54|                 90.6|                              32|                 87.4|                              95|                 80.2|                             101|                 90.4|                             104|
|   610524|           ALCOTT HS|                 90.0|                             100|                 90.7|                              86|                 77.6|                              98|                 85.3|                              95|                 86.7|                              83|
|   609695|         AMUNDSEN HS|                 92.4|                             369|                 92.4|                             327|                 90.0|                             309|                 94.4|                             322|                 89.6|                             278|
|   400018|AUSTIN BUS & ENTR...|                 null|                            null|                 null|                            null|                 null|                            null|                 71.4|                              14|                 81.6|                              38|
|   610518|       AUSTIN CCA HS|                 87.9|                              58|                 76.9|                              52|                 70.0|                              50|                 55.6|                              18|                 68.3|                              41|
|   610501|      AUSTIN POLY HS|                 null|                            null|                 null|                            null|                 null|                            null|                 66.7|                              21|                 80.6|                              31|
|   610563|BACK OF THE YARDS HS|                 97.5|                             276|                100.0|                             274|                 99.6|                             275|                100.0|                             261|                100.0|                             275|
|   609698|            BOGAN HS|                 86.5|                             222|                 95.2|                             189|                 97.2|                             177|                 92.9|                             198|                 89.4|                             189|
|   610323|            BOWEN HS|                 90.7|                              43|                 88.4|                              43|                 85.7|                              63|                 92.4|                              79|                 92.9|                              70|
|   610381|      BRONZEVILLE HS|                 88.2|                              17|                 93.8|                              65|                 83.9|                              56|                 96.4|                             111|                 91.7|                             132|
|   609726|           BROOKS HS|                 82.7|                             237|                 87.8|                             188|                 91.9|                             247|                 94.4|                             233|                 92.9|                             196|
|   609760|  CARVER MILITARY HS|                 92.1|                             127|                 93.2|                             117|                 95.9|                             147|                 96.6|                             119|                 90.8|                             142|
|   610340|  CHICAGO ACADEMY HS|                 97.3|                             146|                 96.2|                             133|                 89.9|                             138|                 83.0|                             147|                 86.6|                             142|
|   609753|CHICAGO AGRICULTU...|                 89.2|                             231|                 94.9|                             198|                 95.4|                             174|                 92.8|                             181|                 93.9|                             198|
|   609754| CHICAGO MILITARY HS|                 74.4|                              78|                 81.7|                              93|                 94.8|                              97|                 96.4|                              56|                 91.9|                             124|
|   609674|CHICAGO VOCATIONA...|                 91.5|                             260|                 88.8|                             206|                 89.7|                             174|                 92.0|                             224|                 85.2|                             243|
|   610244|            CLARK HS|                 91.0|                             134|                 89.8|                             147|                 94.4|                             161|                 91.2|                             148|                 93.2|                             161|
|   609759|         CLEMENTE HS|                 91.3|                             161|                 74.3|                             206|                 90.2|                             183|                 93.3|                             225|                 96.0|                             227|
|   610499|          COLLINS HS|                 72.9|                              48|                 86.4|                              66|                 79.3|                              58|                 69.7|                              66|                 72.6|                             135|
|   609761|          CORLISS HS|                 89.8|                              59|                 78.5|                              65|                 74.6|                              63|                 88.4|                              86|                 78.6|                             103|
+---------+--------------------+---------------------+--------------------------------+---------------------+--------------------------------+---------------------+--------------------------------+---------------------+--------------------------------+---------------------+--------------------------------+
only showing top 20 rows

In [ ]:
fot_df = fot_df.toPandas()

In [ ]:
fot_df.head()

,School ID,School Name,SY 2019 On-Track Rate,SY 2019 Total Number of Freshmen,SY 2018 On-Track Rate,SY 2018 Total Number of Freshmen,SY 2017 On-Track Rate,SY 2017 Total Number of Freshmen,SY 2016 On-Track Rate,SY 2016 Total Number of Freshmen,SY 2015 On-Track Rate,SY 2015 Total Number of Freshmen
0,610513,AIR FORCE HS,88.9,54,90.6,32,87.4,95,80.2,101,90.4,104
1,610524,ALCOTT HS,90.0,100,90.7,86,77.6,98,85.3,95,86.7,83
2,609695,AMUNDSEN HS,92.4,369,92.4,327,90.0,309,94.4,322,89.6,278
3,400018,AUSTIN BUS & ENTRP HS,None,None,None,None,None,None,71.4,14,81.6,38
4,610518,AUSTIN CCA HS,87.9,58,76.9,52,70.0,50,55.6,18,68.3,41

In [ ]:
url8 = "https://cps-final-project-bucket.s3.us-east-2.amazonaws.com/assessment_nwea_schoollevel_2019_growth.csv"
spark.sparkContext.addFile(url8)
growth_df = spark.read.csv(SparkFiles.get("assessment_nwea_schoollevel_2019_growth.csv"), sep=",", header=True)
growth_df.show()

+---------+--------------------+-------+-------+-------+---------------------+--------------------------------------+----------------------------------------+-------------------------------+------------------------------------------------------+----------------------------------------------+---------------------+--------------------------------------+----------------------------------------+-------------------------------+------------------------------------------------------+----------------------------------------------+---------------------+--------------------------------------+----------------------------------------+-------------------------------+------------------------------------------------------+----------------------------------------------+---------------------+--------------------------------------+----------------------------------------+-------------------------------+------------------------------------------------------+----------------------------------------------+
|School ID|         School Name|Network|Subject|  Grade|SY 2015-2016 # Tested|SY 2015-2016 Average Pretest RIT Score|SY 2015-2016 Average Posttest RIT Score |SY 2015-2016 Average RIT Growth|SY 2015-2016 % Students Making National Average Growth|SY 2015-2016 National School Growth Percentile|SY 2016-2017 # Tested|SY 2016-2017 Average Pretest RIT Score|SY 2016-2017 Average Posttest RIT Score |SY 2016-2017 Average RIT Growth|SY 2016-2017 % Students Making National Average Growth|SY 2016-2017 National School Growth Percentile|SY 2017-2018 # Tested|SY 2017-2018 Average Pretest RIT Score|SY 2017-2018 Average Posttest RIT Score |SY 2017-2018 Average RIT Growth|SY 2017-2018 % Students Making National Average Growth|SY 2017-2018 National School Growth Percentile|SY 2018-2019 # Tested|SY 2018-2019 Average Pretest RIT Score|SY 2018-2019 Average Posttest RIT Score |SY 2018-2019 Average RIT Growth|SY 2018-2019 % Students Making National Average Growth|SY 2018-2019 National School Growth Percentile|
+---------+--------------------+-------+-------+-------+---------------------+--------------------------------------+----------------------------------------+-------------------------------+------------------------------------------------------+----------------------------------------------+---------------------+--------------------------------------+----------------------------------------+-------------------------------+------------------------------------------------------+----------------------------------------------+---------------------+--------------------------------------+----------------------------------------+-------------------------------+------------------------------------------------------+----------------------------------------------+---------------------+--------------------------------------+----------------------------------------+-------------------------------+------------------------------------------------------+----------------------------------------------+
|   400009|  GLOBAL CITIZENSHIP|Charter|READING|Grade 8|                   41|                                 216.4|                                   221.9|                            5.5|                                                  58.5|                                            86|                   44|                                 219.3|                                     222|                            2.7|                                                  56.8|                                            45|                   45|                                 223.8|                                   225.8|                              2|                                                  46.7|                                            34|                   40|                                 225.4|                                   227.6|                            2.2|                                                    65|                                            38|
|   400009|  GLOBAL CITIZENSHIP|Charter|   MATH|Grade 8|                   41|                                 223.8|                                   231.1|                            7.3|                                                  70.7|                                            91|                   45|                                   231|                                   234.4|                            3.4|                                                  44.4|                                            39|                   45|                                 235.2|                                   235.6|                            0.4|                                                  37.8|                                             7|                   40|                                 234.7|                                   235.3|                            0.6|                                                  27.5|                                             8|
|   400011|             LOCKE A|Charter|READING|Grade 8|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|                   44|                                 224.4|                                   224.9|                            0.5|                                                  43.2|                                            14|                   39|                                 225.4|                                   233.2|                            7.8|                                                  87.2|                                            99|
|   400011|             LOCKE A|Charter|   MATH|Grade 8|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|                   44|                                 228.2|                                   232.4|                            4.2|                                                    50|                                            53|                   39|                                 234.6|                                   242.6|                              8|                                                  84.6|                                            94|
|   400012|             AMANDLA|Charter|READING|Grade 8|                   38|                                   213|                                   213.5|                            0.5|                                                  36.8|                                            11|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|
|   400012|             AMANDLA|Charter|   MATH|Grade 8|                   38|                                 219.5|                                   222.9|                            3.4|                                                  47.4|                                            42|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|
|   400017|     ASPIRA - HAUGAN|Charter|READING|Grade 8|                  178|                                 219.1|                                   220.9|                            1.8|                                                  45.5|                                            30|                  178|                                 219.1|                                   223.8|                            4.7|                                                  64.6|                                            78|                  131|                                 218.1|                                   222.3|                            4.2|                                                  54.2|                                            69|                  135|                                 218.4|                                   222.2|                            3.8|                                                  62.2|                                            62|
|   400017|     ASPIRA - HAUGAN|Charter|   MATH|Grade 8|                  177|                                 228.8|                                   233.5|                            4.7|                                                  62.7|                                            61|                  176|                                 229.5|                                   234.5|                              5|                                                  60.8|                                            64|                  131|                                 226.5|                                     228|                            1.5|                                                  34.4|                                            16|                  135|                                 223.8|                                   229.5|                            5.7|                                                  62.2|                                            75|
|   400019|BRONZEVILLE LIGHT...|Charter|READING|Grade 8|                   43|                                 214.4|                                   219.2|                            4.8|                                                  62.8|                                            76|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|
|   400019|BRONZEVILLE LIGHT...|Charter|   MATH|Grade 8|                   43|                                 224.7|                                     233|                            8.3|                                                  76.7|                                            96|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|
|   400020|  CATALYST - HOWLAND|Charter|READING|Grade 8|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|
|   400020|  CATALYST - HOWLAND|Charter|   MATH|Grade 8|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|                 null|                                  null|                                    null|                           null|                                                  null|                                          null|
|   400021|CATALYST - CIRCLE...|Charter|READING|Grade 8|                   54|                                   218|                                   223.5|                            5.5|                                                  72.2|                                            86|                   52|                                 218.1|                                   221.4|                            3.3|                                                  51.9|                                            54|                   48|                                 220.4|                                     223|                            2.6|                                                    50|                                            43|                   50|                                 217.9|                                   220.6|                            2.7|                                                    52|                                            43|
|   400021|CATALYST - CIRCLE...|Charter|   MATH|Grade 8|                   54|                                 225.5|                                   232.7|                            7.2|                                                  70.4|                                            90|                   52|                                 228.6|                                   229.2|                            0.6|                                                  32.7|                                             9|                   48|                                 225.4|                                     231|                            5.6|                                                  62.5|                                            74|                   50|                                 221.3|                                   226.7|                            5.4|                                                    62|                                            71|
|   400023|CICS - AVALON/SOU...|Charter|READING|Grade 8|                   40|                                 227.4|                                   230.5|                            3.1|                                                  57.5|                                            55|                   23|                                 224.4|                                   223.5|                           -0.9|                                                  43.5|                                             4|                   28|                                 226.5|                                     231|                            4.5|                                                  71.4|                                            78|                   57|                                 225.3|                                   228.6|                            3.3|                                                  66.7|                                            57|
|   400023|CICS - AVALON/SOU...|Charter|   MATH|Grade 8|                   41|                                 235.6|                                   241.4|                            5.8|                                                  73.2|                                            75|                   23|                                 235.3|                                   236.8|                            1.5|                                                  52.2|                                            15|                   29|                                 235.6|                                   244.5|                            8.9|                                                  75.9|                                            97|                   57|                                 233.9|                                   239.5|                            5.6|                                                  61.4|                                            73|

In [ ]:
growth_df = growth_df.toPandas()
growth_df.head()

,School ID,School Name,Network,Subject,Grade,SY 2015-2016 # Tested,SY 2015-2016 Average Pretest RIT Score,SY 2015-2016 Average Posttest RIT Score,SY 2015-2016 Average RIT Growth,SY 2015-2016 % Students Making National Average Growth,...,SY 2017-2018 Average Posttest RIT Score,SY 2017-2018 Average RIT Growth,SY 2017-2018 % Students Making National Average Growth,SY 2017-2018 National School Growth Percentile,SY 2018-2019 # Tested,SY 2018-2019 Average Pretest RIT Score,SY 2018-2019 Average Posttest RIT Score,SY 2018-2019 Average RIT Growth,SY 2018-2019 % Students Making National Average Growth,SY 2018-2019 National School Growth Percentile
0,400009,GLOBAL CITIZENSHIP,Charter,READING,Grade 8,41,216.4,221.9,5.5,58.5,...,225.8,2,46.7,34,40,225.4,227.6,2.2,65,38
1,400009,GLOBAL CITIZENSHIP,Charter,MATH,Grade 8,41,223.8,231.1,7.3,70.7,...,235.6,0.4,37.8,7,40,234.7,235.3,0.6,27.5,8
2,400011,LOCKE A,Charter,READING,Grade 8,None,None,None,None,None,...,224.9,0.5,43.2,14,39,225.4,233.2,7.8,87.2,99
3,400011,LOCKE A,Charter,MATH,Grade 8,None,None,None,None,None,...,232.4,4.2,50,53,39,234.6,242.6,8,84.6,94
4,400012,AMANDLA,Charter,READING,Grade 8,38,213,213.5,0.5,36.8,...,None,None,None,None,None,None,None,None,None,None

In [ ]:
url12 = "https://cps-final-project-bucket.s3.us-east-2.amazonaws.com/metrics_collenrollpersist_schoollevel_20222_CLEAN_3.csv"
spark.sparkContext.addFile(url12)
schoollevel_persist_df3 = spark.read.csv(SparkFiles.get("metrics_collenrollpersist_schoollevel_20222_CLEAN_3.csv"), sep=",", header=True)
schoollevel_persist_df3.show()

+---------+----------------------+------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+
|School_ID|Annualized School Name|status|Class of 2019 Graduates|Class of 2019 Enrollments|Class of 2019 Enrollment Pct|Class of 2019 # of Enrollments Persisting|Class of 2019 Persistence Pct|Class of 2018 Graduates|Class of 2018 Enrollments|Class of 2018 Enrollment Pct|Class of 2018 # of Enrollments Persisting|Class of 2018 Persistence Pct|Class of 2017 Graduates|Class of 2017 Enrollments|Class of 2017 Enrollment Pct|Class of 2017 # of Enrollments Persisting|Class of 2017 Persistence Pct|Class of 2016 Graduates|Class of 2016 Enrollments|Class of 2016 Enrollment Pct|Class of 2016 # of Enrollments Persisting|Class of 2016 Persistence Pct|Class of 2015 Graduates|Class of 2015 Enrollments|Class of 2015 Enrollment Pct|Class of 2015 # of Enrollments Persisting|Class of 2015 Persistence Pct|
+---------+----------------------+------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+
|   400013|  ASPIRA - EARLY CO...|  null|                     75|                       30|                          40|                                       18|                           60|                     83|                       49|                          59|                                       25|                           51|                     93|                       50|                        53.8|                                       32|                           64|                    103|                       57|                        55.3|                                       37|                         64.9|                     78|                       23|                        29.5|                                       13|                         56.5|
|   400022|            CHIARTS HS|  null|                    133|                      114|                        85.7|                                       97|                         85.1|                    146|                      117|                        80.1|                                      100|                         85.5|                    126|                       96|                        76.2|                                       80|                         83.3|                    112|                       90|                        80.4|                                       79|                         87.8|                    113|                       90|                        79.6|                                       80|                         88.9|
|   400032|     CICS - ELLISON HS|  null|                    101|                       62|                        61.4|                                       31|                           50|                     72|                       47|                        65.3|                                       28|                         59.6|                     67|                       46|                        68.7|                                       31|                         67.4|                     89|                       45|                        50.6|                                       28|                         62.2|                     98|                       63|                        64.3|                                       42|                         66.7|
|   400033|       CICS - LONGWOOD|  null|                     87|                       44|                        50.6|                                       30|                         68.2|                    107|                       52|                        48.6|                                       34|                         65.4|                    100|                       60|                          60|                                       35|                         58.3|                     87|                       39|                        44.8|                                       28|                         71.8|                     77|                       50|                        64.9|                                       28|                           56|
|   400034|   CICS - NORTHTOWN HS|  null|                    207|                      151|                        72.9|                                      114|                         75.5|                    178|                      145|                        81.5|                                      114|                         78.6|                    190|                      152|                          80|                                      116|                         76.3|                    176|                      132|                          75|                                      101|                         76.5|                    167|                      128|                        76.6|                                      108|                         84.4|
|   400035|  CHICAGO MATH & SC...|  null|                     81|                       67|                        82.7|                                       56|                         83.6|                     84|                       59|                        70.2|                                       52|                         88.1|                     86|                       73|                        84.9|                                       61|                         83.6|                     71|                       51|                        71.8|                                       39|                         76.5|                     75|                       54|                          72|                                       45|                         83.3|
|   400051|      NOBLE - NOBLE HS|  null|                    145|                      128|                        88.3|                                       99|                         77.3|                    133|                      115|                        86.5|                                       78|                         67.8|                    142|                      131|                        92.3|                                      104|                         79.4|                    138|                      121|                        87.7|                                       92|                           76|                    144|                      122|                        84.7|                                       74|                         60.7|
|   400052|         NOBLE - COMER|  null|                    156|                      129|                        82.7|                                       93|                         72.1|                    140|                      121|                        86.4|                                       93|                         76.9|                    135|                      119|                        88.1|                                       97|                         81.5|                    143|                      128|                        89.5|                                       95|                         74.2|                    139|                      117|                        84.2|                                       86|                         73.5|
|   400053|     NOBLE - GOLDER HS|  null|                    141|                      126|                        89.4|                                       94|                         74.6|                    133|                      121|                          91|                                       92|                         76.7|                    139|                      121|                        87.1|                                       90|                         74.4|                    132|                      107|                        81.1|                                       78|                         72.9|                    128|                      103|                        80.5|                                       73|                         70.9|
|   400054|   NOBLE - PRITZKER HS|  null|                    196|                      171|                        87.2|                                      133|                         77.8|                    205|                      178|                        86.8|                                      136|                         76.4|                    206|                      186|                        90.3|                                      147|                           79|                    193|                      170|                        88.1|                                      123|                         72.4|                    189|                      162|                        85.7|                                      115|                           71|
|   400055|     NOBLE - RAUNER HS|  null|                    158|                      132|                        83.5|                                      102|                         77.3|                    124|                      100|                        80.6|                                       77|                           77|                    132|                      115|                        87.1|                                       92|                           80|                    117|                      100|                        85.5|                                       69|                           69|                    136|                      105|                        77.2|                                       82|                         78.1|
|   400056|  NOBLE - ROWE CLAR...|  null|                     80|                       46|                        57.5|                                       35|                         76.1|                    114|                       85|                        74.6|                                       57|                         67.1|                    117|                       86|                        73.5|                                       61|                         70.9|                    119|                       92|                        77.3|                                       58|                           63|                    130|                      100|                        76.9|                                       62|                           62|
|   400057|        NOBLE - UIC HS|  null|                    185|                      170|                        91.9|                                      124|                         73.4|                    210|                      193|                        91.9|                                      166|                           86|                    181|                      163|                        90.1|                                      138|                         84.7|                    198|                      176|                        88.9|                                      142|                         80.7|                    184|                      162|                          88|                                      136|                           84|
|   400058|  NLCP - CHRISTIANA HS|  null|                     86|                       46|                        53.5|                                       29|                           63|                     74|                       45|                        60.8|                                       30|                         66.7|                     78|                       59|                        75.6|                                       36|                           61|                     84|                       57|                        67.9|                                       33|                         57.9|                     76|                       50|                        65.8|                                       30|                           60|
|   400059|     NLCP - COLLINS HS|  null|                     86|                       56|                        65.1|                                       36|                         64.3|                     67|                       43|                        64.2|                                       32|                         74.4|                     65|                       48|                        73.8|                                       32|                         66.7|                     75|                       57|                          76|                                       31|                         54.4|                     76|                       48|                        63.2|                                       28|                         58.3|
|   400061|  PERSPECTIVES - LE...|  null|                     86|                       47|                        54.7|                                       21|                         44.7|                     86|                       52|                        60.5|                                       23|                         44.2|                     83|                       52|                        62.7|                                       32|                         61.5|                     87|                       55|                        63.2|                                       33|                           60|                    109|                       58|                        53.2|                                       29|                           50|
|   400062|  PERSPECTIVES - TE...|  null|                     78|                       49|                        62.8|                                       25|                           51|                     73|                       39|                        53.4|                                       21|                         53.8|                     92|                       57|                          62|                                       29|                         50.9|                    107|                       73|                        68.2|                                       41|                         56.2|                    103|                       78|                        75.7|                                       53|                         67.9|
|   400064|  PERSPECTIVES - JO...|  null|                     58|                       30|                        51.7|                                       24|                           80|                     57|                       46|                        80.7|                                       31|                         67.4|                     51|                       42|                        82.4|                                       31|                         73.8|                     57|                       33|                        57.9|                                       25|                         75.8|                     49|                       40|                        81.6|                                       34|                           85|
|   400066|  PERSPECTIVES - MA...|  null|                    108|                       66|                        61.1|                                       34|                         51.5|                     62|                       37|                        59.7|                                       24|                         64.9|                     88|                       67|                        76.1|                                       40|                         59.7|                     68|                       44|                        64.7|                                       28|                         63.6|                     77|                       48|                        62.3|                                       31|                         64.6|
|   400077|  U OF C - WOODLAWN HS|  null|                     88|                       74|                        84.1|                                       53|                         71.6|                     78|                       58|                        74.4|                                       38|                         65.5|                     70|                       54|                        77.1|                                       38|                         70.4|                     83|                       63|                        75.9|                                       40|                         63.5|                     51|                       41|                        80.4|                                       33|                         80.5|
+---------+----------------------+------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+-----------------------+-------------------------+----------------------------+-----------------------------------------+-----------------------------+
only showing top 20 rows

In [ ]:
schoollevel_persist_df3 = schoollevel_persist_df3.toPandas()
schoollevel_persist_df3.head()

,School_ID,Annualized School Name,status,Class of 2019 Graduates,Class of 2019 Enrollments,Class of 2019 Enrollment Pct,Class of 2019 # of Enrollments Persisting,Class of 2019 Persistence Pct,Class of 2018 Graduates,Class of 2018 Enrollments,...,Class of 2016 Graduates,Class of 2016 Enrollments,Class of 2016 Enrollment Pct,Class of 2016 # of Enrollments Persisting,Class of 2016 Persistence Pct,Class of 2015 Graduates,Class of 2015 Enrollments,Class of 2015 Enrollment Pct,Class of 2015 # of Enrollments Persisting,Class of 2015 Persistence Pct
0,400013,ASPIRA - EARLY COLLEGE HS,None,75,30,40,18,60,83,49,...,103,57,55.3,37,64.9,78,23,29.5,13,56.5
1,400022,CHIARTS HS,None,133,114,85.7,97,85.1,146,117,...,112,90,80.4,79,87.8,113,90,79.6,80,88.9
2,400032,CICS - ELLISON HS,None,101,62,61.4,31,50,72,47,...,89,45,50.6,28,62.2,98,63,64.3,42,66.7
3,400033,CICS - LONGWOOD,None,87,44,50.6,30,68.2,107,52,...,87,39,44.8,28,71.8,77,50,64.9,28,56
4,400034,CICS - NORTHTOWN HS,None,207,151,72.9,114,75.5,178,145,...,176,132,75,101,76.5,167,128,76.6,108,84.4